/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2ex;
}

body {
  background-color: #dddfb9;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 2pc;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/************* Header **************/

.logo {
  width: 5%;
}

header {
  position: sticky;
  display: flex;
}

header nav ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
  display: flex;
  font-family: "Poppins, sans serif";
  font-size: 2rem;
  align-items: baseline;
  place-self: center;
  text-align: right;
}

a {
  text-decoration: none;
}

/**************** Burger menu *****************/
.toggle-btn {
  display: block;
  color: purple;
  position: relative;
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: right;
}

.main-menu.shown {
  display: contents;
}

.main-menu ul {
  display: none;
}

.main-menu.shown ul {
  padding-top: 1rem;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
}

/**************** Portfolio Grid ***************/

@media (min-width: 800px) {
  /***************** Fjern Burger menu i web ********/

  .banner {
    padding: 2rem;
    /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
  }

  .main-menu ul {
    list-style: none;
    padding: 0;

    /* 2. Få elementerne til at stå ved siden af hinanden */
    display: flex;
    gap: 1rem;
  }

  /* burgermenu */
  .toggle-btn {
    background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
    display: none;
  }
}
